/* ######### global ######### */
body{
    font-family: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --global-background-color: #f4f2ec;
    --link-background-color: #8facb5;
    --global-text-color: #39474d;
    --text-hover-color: #ffffff;
    --light-color: #6c8a98;

}

html{
    background-color: var(--global-background-color);
    color: var(--global-text-color);
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--global-text-color);
}

a:hover{
    color: var(--text-hover-color);
}

input{
    width: 70%;
    margin: 10px auto;
    padding: 5px;
    border: none;
}

input:focus{
    border: solid 1px var(--link-background-color);
}

/* ######### header ######### */
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

header nav ul{
    list-style-type: none;
    display: inline-flex;   
}

header nav ul li{
    margin: 5px;
}

@media screen and (max-width: 640px) {
    header nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand{
        margin-bottom: 10px;
    }
}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    width: 100%;
}

/* ######### modals ######### */
.modals-wrapper{
    width: 100%;
    height: 100%;
    background-color: var(--global-text-color);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.modal{
    background-color: var(--global-background-color);
    min-width: 400px;
    min-height: 400px;
    padding: 20px;
}

#close-modal{
    background-color: var(--link-background-color);
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    padding: 5px;
}

#login-modal, #signup-modal{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#password-modal, #add-password-modal{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.copy{
    cursor: pointer;
}

.copy:hover{
    color: var(--text-hover-color);
}

/* ######### card ######### */

.container{
    margin-top: 20px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 80px;
}

.card{
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0px 10px 0px var(--light-color);
}

.actions{
    margin: 5px;
}

.actions a{
    display: none;
    background-color: var(--link-background-color);
    flex-direction: column;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
}

.actions:hover .action-items{
    display: flex;
}

@media screen and (max-width: 680px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 420px) {
    .container{
        grid-template-columns: 1fr;
    }
}